@import "../abstracts/variables.scss";
@import "../components/button.scss";

nav {
  margin: 5rem 11rem;
  .custom-toggler {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(92, 70, 249, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .custom-toggler.navbar-toggler {
    border: 1px solid $BlueGlobal;
  }
}
.navbar-brand {
  cursor: pointer;
}
