@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.bar {
  font-size: $SHeadFont;
  font-weight: 600;
  padding: 0.5rem;
  margin: 1rem;
  color: $VDarkGray;
  @include mQ(1055px) {
    font-size: $InfoFont;
  }
  &::after {
    content: " ";
    display: block;
    background: transparent;
    margin: auto;
    width: 0rem;
    height: 3px;
    transition: width 0.5 ease, background 0.5 ease;
  }
  &:hover {
    color: $BlueGlobal;
    &::after {
      width: 50%;
      border-radius: 3px;
      background: $BlueGlobal;
      transition: 0.5s;
    }
  }
}

.searching {
  display: inline-block;
  width: 30rem;
  height: 3rem;
  font-size: 1.5rem;
  border: 1.5px solid $VLightGray;
  border-radius: 3px;
  color: $DarkGray;
  padding-left: 1rem;
  @include placeholder-color($VLightGray);
  @include mQ(421px) {
    width: 25rem;
    font-size: 1rem;
  }
  @include mQ(358px) {
    width: 20rem;
  }
}
.searchParent {
  @include mQ(2000px, 1200px) {
    margin-left: 10rem;
  }
}
.searchIcon {
  position: relative;
  right: 2rem;
}
.photo {
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
  border-radius: 50%;
  position: absolute;
  border: 1.5px solid $BlueGlobal;
  overflow: hidden;
  @include mQ(991.9px) {
    margin-top: 1rem;
  }
  
}
.menuIcon {
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
 // margin: 0 1rem;
 background-color: $VLightGray;
 top:2rem;
 right:-4rem;
  border-radius: 50%;
  position: absolute;
  border: 1.5px solid $VLightGray;
  cursor: pointer;
 
 

  
 
}
.action{
  
 // position: fixed;
 // top: 20px;
 // right: 30px;
 // color: #fff;
 
  // overflow : hidden;
  // max-height: 0rem;
  // &:hover {
  // overflow: visible;
  // max-height: 5rem;
 
  // }
 
}
.action .photo{
 // position: relative;
  overflow: hidden;
  cursor: pointer;
}
.action .menu{
 
  position: absolute;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: 0.5s;
  &::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: aqua;
    transform: rotate(45deg);
  }
}
.menu ul li{
  list-style: none;
  border-top: 1px solid rgba(0,0,0,0.05);
  @include flexCenter;

}
.action .menu .active{
  visibility: visible;
  opacity: 1;
}
.menu  {

  box-shadow: 0px 0px 3px  rgba(0,0,0,0.25);
 //display: flex;
 position: absolute;
 background-color: aqua;
 top : 47px;
 right: -25px;

}

