@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

li .bar {
  font-size: $SHeadFont;
  padding: 0.5rem;
  color: $VDarkGray;
  &::after {
    content: " ";
    display: block;
    background: transparent;
    margin: auto;
    width: 0rem;
    height: 3px;
    transition: width 0.5 ease, background 0.5 ease;
  }

  &:hover {
    &::after {
      width: 50%;
      border-radius: 3px;
      background: $BlueGlobal;
      transition: 0.5s;
    }
  }
}
.bar {
  &:hover {
    color: $BlueGlobal;
  }
}

.searching {
  display: inline-block;
  width: 30rem;
  height: 3rem;
  margin-left: 5rem;
  font-size: 1.5rem;
  border: 1.5px solid $VLightGray;
  border-radius: 3px;
  color: $DarkGray;
  padding-left: 1rem;
  //margin: 1.5rem;
  @include placeholder-color($VLightGray);
}
.searchIcon {
  position: relative;
  right: 2rem;
}
.photo {
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  right: -8rem;
  border: 1.5px solid $VLightGray;
}
.menu{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
