@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";
.box{
  @include flexCenter;
}
.right{

  background-color: $WhiteGlobal;

  flex-direction: column;
   box-shadow: 0.1rem 0.1rem 1rem #0000005C;
 
  width: 50%;
  height: 100%;

  margin-bottom: 5rem;
}
.left{
    


 // background-color: $WhiteGlobal;
  //  margin-top: auto;
  // margin-bottom: auto;
  //flex-direction: column;
   box-shadow: 0.1rem 0.1rem 1rem #0000005C;
 position: relative;
  width: 30rem;
  height: 40rem;
  text-align: center;

  right: 85rem;
  //position: absolute;

  @include flexCenter;
  @include mQ(756px) {
    @include centerX;
    border-radius: 2rem;
  }
}

.sort{
  color: black;
  margin-top: 2rem;
  margin-left: 2rem;
  display: inline;
}
.filter{
 // border-radius:  solid 1rem;
  display: inline-block;
width:15rem;
  height: 3;
  font-size: 1.7rem;
  border: 1.5px solid $VLightGray;
  border-radius: 3px;
  color: $DarkGray;
  padding-left: 1rem;
  margin: 1.5rem;
  @include placeholder-color($VLightGray);
}

.job{
position: relative;
  border: 1.5px solid $VLightGray;
  border-radius: 3px;
  margin: 2rem;
  display: flex;
  flex-direction: row;
}
.arrowIcon{
  position: relative;
  right: 4rem;

  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}
.jobImgContainer{

  @include flexCenter;
  border: 0.5px solid $BlueGlobal;
  border-radius: 10px;
  margin: 1rem;
  width: 25%;
  height: 25%;

}
.jobImg{
  position: relative;
 margin: 3rem;
 margin-left: 2rem;
 margin-right: 2rem;
 width: 100%;
 height: 100%;
}
.informations{
  //display: inline;
 // display: flex;
  flex-direction: column;
  margin: 1rem;
 // @include flexCenter;
  //border: 0.5px solid $BlueGlobal;
  //padding: 1rem;
}
.postTitle{
  display: inline;
  color:$BlackGlobal;
  font-size: $SHeadFont;
  font-weight: bold;

}

.job_type{
  display: inline;
  color: $BlueGlobal;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #CBB0F3;

}
.subInfo{
  @include flexCenter;
  //flex-direction: row;
}
.experience{
  font-size: 1.2rem;
  margin-right: 3rem;
}
.expIcon{
  color: $BlueGlobal;
}
.location{
  font-size: 1.2rem;
  margin-right: 3rem;
}
.locationIcon{
  color: $BlueGlobal;
}
.bookmark{
  color: $BlueGlobal;
  size: 10rem;
  left: 18rem;
  position: relative;
}
.lastSection{
  //position: relative;
  margin: 1rem;
}
.btnDetails{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  
 
}

