// colors
$WhiteGlobal: #fff;
$BlackGlobal: #000;
$BlueGlobal: #5c46f9;
$LigtBlue: #2596be;
$VLightBlue: #68e1ff;
$AliceBlue: #e4fbff;
$OrangeGlobal: #ffad4a;
$VLightGray: #dcdcdc;
$LightGray: #00000029;
$DarkGray: #707070;
$VDarkGray: #555555;
$LightViolet: #dbd9ff;

// Typography Start
// Font sizes
$GlobalFont: 62.5%;
$HeadFont: 7rem;
$MediumFont: 4.5rem;
<<<<<<< HEAD
$SHeadFont: 2.5rem;
$InfoFont: 1.5rem;
=======
>>>>>>> ecdf55a0ba0678901e5344a31ff008710005330d

// Line Heights
$HeadLineSpacing: 8.5rem;
$MediumLineSpacing: 5.5rem;
<<<<<<< HEAD
$InfoLineSpacing: 3rem;
=======
>>>>>>> ecdf55a0ba0678901e5344a31ff008710005330d

//Typography End
