@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.pop {
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  padding: 2.5rem 5rem;
  background-color: $WhiteGlobal;
  text-align: center;
  color: $VDarkGray;
  font-size: $SHeadFont;

  font-weight: 600;
  border-radius: 1.5rem;
  hr {
    width: 50%;
    position: relative;
    @include centerX;
  }
  h4 {
    color: $BlueGlobal;
    font-weight: 900;
    font-size: $SHeadFont;
  }

  .btn--popWrap {
    @include flexAround;
    margin-top: 2rem;
    button {
      font-size: $SHeadFont;
      padding: 0.2rem 3rem;
    }
    .btn--cancel {
      border: none;
      &:hover {
        border: 1px solid $BlueGlobal;
      }
    }
    .trackbtn {
      padding: 0.2rem 1rem;
    }
  }
  .customCheck {
    border: 5px solid #b4aff7;
    width: 7rem;
    margin: 2rem 0;
  }
  .successPar {
    margin-bottom: -1rem;
    color: black;
    font-weight: 500;
  }
  @include mQ(900px) {
    width: 70%;
  }
  @include mQ(720px) {
    width: 90%;
    font-size: $InfoFont;
    h4,
    .btn--popWrap button {
      font-size: $InfoFont;
    }
  }
  @include mQ(415px) {
    padding: 2.5rem 1rem;
  }
}

.popOverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 5, 5, 0.388);
  z-index: 2;
}

.popApply {
  @include mQ(1900px, 1250px) {
    width: 30%;
  }
}
.popSuc,
.popScreen {
  @include mQ(1900px, 1250px) {
    width: 40%;
  }
  @include mQ(1249px, 900px) {
    width: 50%;
  }
}
.popScreen {
  text-align: start;
  padding: 1rem 2rem;

  i {
    cursor: pointer;
  }
  section {
    @include flexBet;
  }
  hr {
    width: 100%;
  }
  .progressWrap {
    height: 0.5rem;
    margin-bottom: 1rem;
    .customProgress {
      width: 50%;
      background-color: $BlueGlobal;
    }
    .ProgressScreen {
      width: 100%;
    }
  }
  h6 {
    margin: 1rem 0;
    &:first-of-type {
      font-weight: bolder;
      color: black;
    }
  }
  .btn--popWrap {
    margin-right: 1rem;
    position: relative;
    justify-content: end;
    bottom: 1rem;
    flex-wrap: wrap-reverse;
    .btn--cancel {
      margin-right: 1rem;
    }
  }
  .cvFile {
    font-size: 1rem;
    margin-right: 1rem;
  }
  input[type="file"] + label {
    display: inline-block;
    font-size: 1rem;
    width: fit-content;
    padding: 1rem;
    margin-top: 2rem;
  }
  .questionSec {
    display: block;
    margin-bottom: 4rem;
    margin-top: 2rem;
    div {
      width: 100%;
      label {
        font-weight: 100;
        font-size: 1rem;
      }
      input {
        width: 100%;
      }
    }
  }
}
