@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.pop {
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  padding: 2.5rem 5rem;
  background-color: $WhiteGlobal;
  text-align: center;
  color: $VDarkGray;
  font-size: $SHeadFont;
  @include mQ(1900px, 1250px) {
    width: 30%;
  }
  font-weight: 600;
  border-radius: 1.5rem;
  hr {
    width: 50%;
    position: relative;
    @include centerX;
  }
  h4 {
    color: $BlueGlobal;
    font-weight: 900;
    font-size: $SHeadFont;
  }

  .btn--popWrap {
    @include flexAround;
    margin-top: 2rem;
    button {
      font-size: $SHeadFont;
      @include mQ(1900px, 1250px) {
        width: 15rem;
      }
      border: none;
      &:hover {
        border: 1px solid $BlueGlobal;
      }
    }
  }

  @include mQ(900px) {
    width: 70%;
  }
  @include mQ(720px) {
    width: 90%;
    font-size: $InfoFont;
    h4,
    .btn--popWrap button {
      font-size: $InfoFont;
    }
  }
}

.popOverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 5, 5, 0.388);
  z-index: 2;
}
