@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300&family=Readex+Pro:wght@200&display=swap");
@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";
@import "./components/video.scss";

* {
  box-sizing: border-box;
  text-decoration: none;
  outline: transparent;
  padding: 0;
  margin: 0;
}

html {
  //typography
  font-size: $GlobalFont;

  body {
    background-color: $WhiteGlobal;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient($BlueGlobal, transparent);
      border-radius: 6px;
    }

    h1,
    h2,
    h3 {
      text-transform: capitalize;
      color: $BlueGlobal;
    }

    h1 {
      font-size: $HeadFont;
      font-weight: 900;
      line-height: $HeadLineSpacing;
      &::before {
        content: "";
        width: 5.5rem;
        height: 5.6rem;
        margin-right: -4.5rem;
        margin-bottom: -1.5rem;
        display: inline-block;
        border-radius: 50%;
        background-color: $VLightBlue;
      }
      @include mQ(750px) {
        font-size: $MediumFont;
        line-height: $MediumLineSpacing;
      }
    }
    h2 {
      font-size: $MediumFont;
      font-weight: 900;
      line-height: $MediumLineSpacing;
      @include mQ(750px) {
        font-size: $SHeadFont;
        line-height: $InfoLineSpacing;
      }
    }
    h3 {
      font-size: $SHeadFont;
      font-weight: 700;
      line-height: $InfoLineSpacing;
      @include mQ(750px) {
        font-size: $InfoFont;
      }
    }
    .HeadBackgroundWrap {
      @include flexCenter;
      margin-bottom: 8rem;
    }

    .circlebef {
      &::before {
        content: "";
        width: 2.5rem;
        height: 2.6rem;
        margin-right: -2.5rem;
        margin-bottom: -0.5rem;
        display: inline-block;
        border-radius: 50%;
        background-color: $VLightBlue;
      }
    }
    .invalid {
      color: red;
      text-align: left;
    }
    .selectedBack {
      color: $WhiteGlobal;
      background: $BlueGlobal;
    }
  }
}

a {
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input,
select,
textarea,
button,
datalist {
  border: none;
  background: none;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

button {
  cursor: pointer;
}
